body {
	margin: 0;
	padding: 0;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #4B79AE;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/* font-size: 16px; */
	font-size: 100%;

}
#wrapper {
	width: 998px;
	padding: 0 20px 20px 20px;
	margin: 0 auto auto 20px;
}
#banner {
	width: 100%;
	height: 100px;
	font-size: 312%;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}
#content {
	width: 550px;
	min-height: 280px;
	padding: 20px 20px 30px 20px;
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left: 17px;
	background-color: #FFF;
}
#menu ul {
	width: 200px;
	padding: 0;
	float: left;
	margin-top: 50px;
	border: 1px solid #000;
	background-color: #DA622E;
	list-style: none;
}
#menu ul li h2 {
	color: white;
	padding: 10px 20px;
	border: 0;
	border-bottom: 1px solid #216B9A;
	margin-bottom: 40px;
}
#menu li {
	border-bottom: 1px solid #216B9A;
}
#menu a {
	display: block;
	color: #fff;
	padding: 10px 0 10px 20px;	
	text-align: left;
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
	
}
#menu a:hover {
	color: black;
	-webkit-transform: translate(0.5em,0);
    -moz-transform: translate(0.5em,0);
    -o-transform: translate(0.5em,0);
    -ms-transform: translate(0.5em,0);
    transform: translate(0.5em,0);
}
#menu li h2 {
	color: white;
	margin: 0;
}
a {
	text-decoration: none;
	color: #DA622E;
}
#reviews {
	width: 150px;
	min-height: 200px;
	float: right;
	margin: 50px 0 0 10px;
	background-color: #999;	
	padding: 20px 10px;
}
#reviews p {
	font-size: 80%;
	color: white;
}
#reviews h2 {
	font-size: 110%;
	margin-bottom: 16px;
}
#promo-container {
	width: 100%;	
	float: left;
	margin-top: 50px;
}
#promo {
	width: 75%;
	background-color: #999;
	text-align: center;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
}
#promo p {
	margin: 0;
}
h1 {
	margin-top: 0;
}
h2 {
	font-size: 100%;
	color: #166BA1;
	margin-top: 0;
}
#promo h2 {
	color: white;
	font-size: 120%;
	margin: 0;
}

#table-prices {
	width: 450px;
	border: 0;
}

#table-prices td {
	background-color: #EEEEEE;
	padding-left: 10px;
}

.table-prices-column-first {
	font-weight: bold;
}

.field {	
	width: 100%;
	margin: 10px 0;
}

label {
	clear: both;
	display: block;
	float: left;
	width: 125px;
}

.date-part {
	
	float: left;
	display: block;
	width: auto;
	margin-right: 10px;

}

.date-part-label {
	display: block;
	
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}
